
.bg-custom{
    background-color: black;
}

/* .custom-link{
    color: white;
    text-decoration: none;
} */

.custom-nav-item{
    padding-top: 32px;
}

/* .custom-slider{
    height: 150px;
    width: 150px;
} */