
.bg-custom{
    background-color: black;
}

/* .custom-link{
    color: white;
    text-decoration: none;
} */

.custom-nav-item{
    padding-top: 32px;
}

/* .custom-slider{
    height: 150px;
    width: 150px;
} */

.custom-product{
    margin: 5px;
    width: 215px;
    height: 380px;
}

@media screen and (max-width: 1200px) {
    .custom-product{
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .custom-product{
        width: 155px;
    }

    .custom-text{
        font-size: 16px;
    }

    .custom-btn{
        padding: 2px;
        /* font-size: 14px; */
    }
}

@media screen and (max-width: 574px) {
    .custom-product{
        width: 162px;
        height: 350px;
    }
}

@media screen and (max-width: 560px) {
    .custom-product{
        width: 160px;
    }
}

@media screen and (max-width: 554px) {
    .custom-product{
        width: 158px;
    }
}

@media screen and (max-width: 549px) {
    .custom-product{
        margin-right: 15px;
    }
}

@media screen and (max-width: 534px) {
    .custom-product{
        margin-right: 10px;
    }
}

@media screen and (max-width: 518px) {
    .custom-product{
        margin-right: 5px;
    }
}

@media screen and (max-width: 518px) {
    .custom-product{
        margin-right: 3px;
    }
}

@media screen and (max-width: 498px) {
    .custom-product{
        margin-right: 2px;
    }
}

@media screen and (max-width: 494px) {
    .custom-product{
        width: 230px;
    }
}

@media screen and (max-width: 474px) {
    .custom-product{
        width: 220px;
    }
}

@media screen and (max-width: 454px) {
    .custom-product{
        width: 210px;
    }
}

@media screen and (max-width: 434px) {
    .custom-product{
        width: 200px;
    }
}

@media screen and (max-width: 414px) {
    .custom-product{
        width: 190px;
    }
}

@media screen and (max-width: 394px) {
    .custom-product{
        width: 180px;
    }
}

@media screen and (max-width: 374px) {
    .custom-product{
        width: 170px;
    }
}

@media screen and (max-width: 354px) {
    .custom-product{
        width: 155px;
    }
}